* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

html {
  font-size: 18px;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

header {
  padding: 48px 0;
}

.title {
  margin: 24px 0;
}

.intro-chunk {
  max-width: 400px;
}

.intro-chunk strong {
  color: hsl(160, 100%, 30%);
}

main {
  background-color: hsl(0,0%,60%);
  border-top: 8px solid hsl(0,0%,40%);
  padding: 96px 0;
}

.card {
  background-color: white;
  padding: 24px;
  margin: -24px;
  border-bottom: 8px solid hsl(0,0%,40%);
}

.indented-heading {
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 32px;
  margin-top: -16px;
  margin-left: -32px;
  background-color: hsl(45, 100%, 50%);
  border-bottom: 8px solid hsl(45, 100%, 40%);
}

.card p:last-child {
  margin-bottom: -8px;
}